.container {
	margin: 50px 0;
}

.card {
	border-radius: 20px !important;
	text-align: center;
	margin: 0 2% !important;
}

.heading_infected {
	font-weight: bolder !important;
	font-size: 27px !important;
	color: rgba(144, 21, 216) !important;
}

.infected_num {
	font-weight: bold;
	font-style: italic;
	color: rgba(144, 21, 216);
}

.heading_recovered {
	font-weight: bolder !important;
	font-size: 27px !important;
	color: rgb(23, 143, 23) !important;
}
.recovered_num {
	font-weight: bold;
	font-style: italic;
	color: rgb(23, 143, 23);
}

.heading_deaths {
	font-weight: bolder !important;
	font-size: 27px !important;
	color: rgba(255, 0, 0) !important;
}
.deaths_num {
	font-weight: bold;
	font-style: italic;
	color: rgba(255, 0, 0);
}

.infected {
	border: 2px solid rgba(144, 21, 216);
	box-shadow: 5px 10px rgba(144, 21, 216) !important;
}

.recovered {
	border: 2px solid rgb(23, 143, 23);
	box-shadow: 5px 10px rgb(23, 143, 23) !important;
}
.deaths {
	border: 2px solid rgba(255, 0, 0);
	box-shadow: 5px 10px rgba(255, 0, 0) !important;
}

.infected:hover,
.recovered:hover,
.deaths:hover {
	transform: scale(1.08);

	transition: transform 0.5s;
}

/* by me */
@media (max-width: 960px) {
	.card {
		margin: 2% 10% !important;
	}
}

@media (max-width: 770px) {
	.card {
		margin: 3% 0 !important;
	}
}
